
{% macro header(currentUser, actualUser, options) %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">

			{# Header #}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#simulatorNavbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">VO</a>
			</div>

			<div class="collapse navbar-collapse" id="simulatorNavbar">

				<ul class="nav navbar-nav">

					<li><a href="{{ Zelda_simulations() }}">Simulator</a></li>

					{% if options.topics %}
						{# Topic selection or creation #}
						<li class="dropdown">
							<span class="dropdown-toggle navbar-text" data-toggle="dropdown">
								{[{ topic.subject }]}
								<b class="caret"></b>
							</span>
							<ul class="dropdown-menu">
								<li ng-repeat="topic in topics" >
									<a href="/topics/#/view/{[{ topic.id }]}">{[{ topic.subject }]}</a>
								</li>
								<li class="divider"></li>
								<li><a href="/topics/#/create">Nouvelle discussion</a></li>
							</ul>
						</li>
					{% endif %}
				</ul>

				{# User status #}
				<ul class="nav navbar-nav navbar-right">
					{% if currentUser %}
						<li class="dropdown">
							<span class="dropdown-toggle navbar-text" data-toggle="dropdown">
								{{ currentUser.label }}
								<b class="caret"></b>
							</span>
							<ul class="dropdown-menu">
								<li><a href="#">Profil</a></li>
								<li class="divider"></li>
								<li><a href="{{ Zelda_logout() }}">Se déconnecter</a></li>
							</ul>
						</li>
					{% else %}
						{% if actualUser %}
							<li>Identifié : {{ actualUser.label }}</li>
						{% endif %}

						{% if not actualUser or actualUser.state == 1 %}

							{# TODO : Ici on propose la connexion ... c'est cool mais si identifié on connait les types de connexion que l'on peut proposer => Ne pas afficher de menu mais un choix intélligent de connexions #}

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Connexion
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{ Zelda_auth('facebook') }}">Via Facebook</a></li>
									<li><a href="{{ Zelda_auth('google') }}">Via Google</a></li>
									<li class="divider"></li>
									<li><a href="{{ Zelda_auth() }}">Classique</a></li>
								</ul>
							</li>
						{% endif %}

						{% if not actualUser or actualUser.state != 1 %}

							{# Idem : on peut surement faire un push intéressant ici ! Par rapport aux données que l'on a sur la personne #}

							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Inscription
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="{{ Zelda_auth('facebook') }}">Facebook</a></li>
									<li><a href="{{ Zelda_auth('google') }}">Google</a></li>
									<li class="divider"></li>
									<li><a href="{{ Zelda_register() }}">Classique</a></li>
								</ul>
							</li>
						{% endif %}
					{% endif %}
				</ul>
			</div>


		</div>
	</nav>
{% endmacro %}