<form name="createForm">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Participants ?</h1>
		</div>
		<div class="panel-body">

			<div class="input-group form-group" ng-class="{error: createForm.emails.$invalid}">
				<span class="input-group-addon">@</span>
				<input placeholder="Emails" class="form-control" type="text" name="emails" ng-model="formBuild.emails" required>
				<span ng-show="createForm.emails.$error.required" class="input-group-addon">Requis</span>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">What ?</h1>
		</div>
		<div class="panel-body">

			<div class="input-group form-group" ng-class="{error: createForm.subject.$invalid}">
				<span class="input-group-addon">Sujet</span>
				<input class="form-control" placeholder="subject" type="text" name="subject" ng-model="formBuild.subject" required>
				<span ng-show="createForm.subject.$error.required" class="input-group-addon">Requis</span>
			</div>

			<div class="control-group " ng-class="{error: createForm.message.$invalid}">
				<textarea placeholder="Message" class="form-control" rows="3" name="message" ng-model="formBuild.message" required>
				</textarea>
				<span ng-show="createForm.message.$error.required" class="help-block">Le message est requis !</span>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Question</h1>
		</div>
		<div class="panel-body">

			<div class="input-group form-group" ng-class="{error: createForm.question.$invalid}">
				<span class="input-group-addon">Question</span>
				<input class="form-control" placeholder="question" type="text" name="question" ng-model="formBuild.question" required>
				<span ng-show="createForm.question.$error.required" class="input-group-addon">Requis</span>
			</div>

			<div class="form-inline">
				<div class="form-group">
					<label>Repondre avant : </label>
					<button type="button" class="btn btn-default" ng-options="element.value as element.label for element in timePreSelections" ng-model="timePreSelection" bs-select>
						Action <span class="caret"></span>
					</button>
				</div>

				<input type="text" size="10" class="form-control" ng-model="formBuild.maxDateTime" data-date-format="dd/MM/yyyy" data-min-date="today" data-autoclose="1" placeholder="Date" bs-datepicker>
				<input type="text" size="8" class="form-control" ng-model="formBuild.maxDateTime" data-time-format="HH:mm" data-autoclose="1" placeholder="Time" bs-timepicker>
			</div>
		</div>
	</div>

	<div class="btn-group">
		<button ng-click="save()" ng-disabled="createForm.$invalid" class="btn btn-primary">Envoyer</button>
	</div>
</form>

