{% extends "layouts/default.html.twig" %}

{% import 'elements/layout.html.twig' as Layout %}

{% block js %}
	{{ parent() }}
	{{ Optimize_script('topics/index') }}
	{{ Optimize_scripts() }}
{% endblock %}

{% block body %}
	<div ng-app="topics" ng-controller="MainController" ng-init="setUserId({{ actualUser.id }})">
		{{ Layout.header(currentUser, actualUser, {'topics' : true}) }}

		<div class="container-fluid" ng-repeat="flash in flashs">
			<div class="alert alert-{[{ flash.type }]} alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				{[{ flash.message }]}
			</div>
		</div>

		<div class="container-fluid" ng-view></div>
	</div>
{% endblock %}
