<div>
	{# User list #}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Participants</h2>
		</div>
		<div class="panel-body">
			<div class="list-group">
				<div class="list-group-item list-group-item-{[{ topicUser.cssClass }]}" ng-repeat="topicUser in topicUsers">
					{[{ topicUser.user.label }]}
					<span class="label label-{[{ topicUser.cssClassLabel }]}">{[{ topicUser.label }]}</span>
				</div>
			</div>
		</div>
	</div>
</div>
