{% extends "layouts/default.html.twig" %}

{% import 'elements/layout.html.twig' as Layout %}

{% block js %}
	{{ parent() }}
	{{ Optimize_script('simulations/index') }}
	{{ Optimize_scripts() }}
{% endblock %}

{% block body %}
	{{ Layout.header(currentUser, actualUser) }}

	<nav ng-app="simulation" class="navbar navbar-default" role="navigation">
		<div class="container-fluid" ng-controller="SimulationController">

			{# Header #}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#simulatorNavbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Simulator</a>
			</div>

			<div class="collapse navbar-collapse" id="simulatorNavbar">
				<ul class="nav navbar-nav">

					{# Topic selection or creation #}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{% if currentTopic %}
								Topic {{ currentTopic.id }}
							{% else %}
								--
							{% endif %}
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for topic in topics %}
								<li>
									<a href="{{ Zelda_simulations(topic) }}">Topic {{ topic.id }}</a>
								</li>
							{% endfor %}
							<li class="divider"></li>
							<li><a href="#" ng-click="buildNewTopic()">Build new</a></li>
						</ul>
					</li>

					{# User view selection #}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{% if selectedUser %}
								{{ selectedUser.label }}
							{% else %}
								--
							{% endif %}
						<b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for topicUser in topicUsers %}
								<li>
									<a href="{{ Zelda_simulations(currentTopic, topicUser.user) }}">{{ topicUser.user.label }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
				</ul>

				{# Add message form #}
				<form class="navbar-form navbar-left" role="add" ng-submit="addMessage()">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Message" ng-model="messageText">
					</div>
					<button type="submit" class="btn btn-default">Add</button>
				</form>

				{# Add question form #}
				<form class="navbar-form navbar-left" role="add" ng-submit="addQuestion()">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Question" ng-model="questionText">
					</div>
					<button type="submit" class="btn btn-default">Add</button>
				</form>
			</div>

		</div>
	</nav>

	{% for email in emails %}
		<hr/>
		<h1>{{ email.subject }}</h1>
		<p>
			To: {{ email.to }}<br/>
			From: {{ email.from }}<br/>
			Date : {{ email.date_creation }}<br/>
			State :
			{% if email.state == 0 %}
				Pending
			{% elseif email.state == 1 %}
				Sent
			{% elseif email.state == 2 %}
				Open
			{% elseif email.state == 3 %}
				Click
			{% endif %}<br/>
		</p>

		{{ Zelda_setEmailCode(email.code) }}

		<table border="0" cellpadding="20" cellspacing="0" width="100%" class="simulation-email">
			{% for name, data in email.blocks %}
				{% set template = data.template ? data.template : name %}
				{% include "mails/blocks/" ~ template ~ ".html.twig" %}
			{% endfor %}
		</table>

		{{ Zelda_setEmailCode() }}

	{% endfor %}
{% endblock %}