<div class="d-grid">
	{% for link in links %}
		<a href="{{link.url}}" target="_blank">{{link.name}}</a> <small>[ <a href="{{link.url_send}}" target="_blank">envoi</a> ]</small><br><br>
	{% endfor %}
</div>
