{% extends "layouts/mail.text.twig" %}

{% block subject %}{{ email.subject|e }}{% endblock %}

{% block body %}
	{% for name, data in email.blocks %}
		{% set template = data.template ? data.template : name %}
		{% include "mails/blocks/" ~ template ~ ".text.twig" %}
	{% endfor %}
{% endblock %}