{% extends "layouts/default.html.twig" %}

{% import 'elements/layout.html.twig' as Layout %}

{% block js %}
	{{ parent() }}
	{{ Optimize_script('auth/login') }}
	{{ Optimize_scripts() }}
{% endblock %}

{% block css %}
	{{ parent() }}
	{{ Optimize_style('auth/index') }}
	{{ Optimize_styles() }}
{% endblock %}

{% block body %}
	{{ Layout.header(currentUser, actualUser) }}

	<div class="container" ng-app="login">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Connexion</h1>
				</div>
				<div class="panel-body" ng-controller="LoginController">
					<div class="col-md-10 col-md-offset-1">
						<a class="btn btn-primary btn-lg btn-block" href="{{ Zelda_auth('google') }}">Google / Gmail connect</a>
						<a class="btn btn-primary btn-lg btn-block" href="{{ Zelda_auth('facebook') }}">Facebook connect</a>
						<hr/>

						<p class="alert alert-danger" ng-show="errorMessage">{[{ errorMessage }]}</p>

						<p class="alert alert-danger" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">L'email n'est pas valide</p>

						<form name="loginForm" ng-submit="login()">

							<div class="form-group" ng-class="{'has-error has-feedback': loginForm.email.$dirty && loginForm.email.$invalid}">
								<input placeholder="Email" class="form-control" type="email" name="email" ng-model="credential.email" ng-model-options="{ debounce: 600 }" ng-disabled="logging" required>
								<span ng-show="loginForm.email.$dirty && loginForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-nolabel"></span>
							</div>

							<div class="form-group" ng-class="{'has-warning has-feedback': loginForm.password.$dirty && loginForm.password.$invalid}">
								<input class="form-control" placeholder="Mot de passe" type="password" ng-minlength="5" ng-maxlength="30" name="password" ng-model="credential.password" ng-model-options="{ debounce: 300 }" ng-disabled="logging" required>
								<span ng-show="loginForm.password.$dirty && loginForm.password.$invalid" class="glyphicon glyphicon-warning-sign form-control-feedback form-control-feedback-nolabel"></span>
							</div>

							<input type="submit" class="form-control btn btn-primary btn-block" value="Connexion" ng-disabled="loginForm.$invalid || logging">

							<p class="text-center other-links">
								<a href="{{ Zelda_register() }}">Inscription</a>
								<span>|</span>
								<a href="{{ Zelda_lostPassword() }}">Mot de passe perdu ?</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
