{% extends "layouts/default.html.twig" %}

{% import 'elements/layout.html.twig' as Layout %}

{% block js %}
	{{ parent() }}
	{{ Optimize_script('auth/register') }}
	{{ Optimize_scripts() }}
{% endblock %}

{% block css %}
	{{ parent() }}
	{{ Optimize_style('auth/index') }}
	{{ Optimize_styles() }}
{% endblock %}

{% block body %}
	{{ Layout.header(currentUser, actualUser) }}

	<div class="container" ng-app="register">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title">Inscription</h1>
				</div>
				<div class="panel-body" ng-controller="RegisterController" ng-init="initForm({'code' : '{{ code }}', 'email' : '{{ email }}'})">
					<div class="col-md-10 col-md-offset-1">
						<a class="btn btn-primary btn-lg btn-block" href="{{ Zelda_auth('facebook') }}">Inscription via Facebook</a>
						<a class="btn btn-primary btn-lg btn-block" href="{{ Zelda_auth('google') }}">Inscription via Google / Gmail</a>
						<hr/>
						<form name="registerForm" ng-submit="register()">
							<p class="alert alert-danger" ng-show="errorMessage" ng-bind-html="errorMessage"></p>
							<p class="alert alert-success" ng-show="goodMessage" ng-bind-html="goodMessage"></p>

							<p class="alert alert-danger" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">L'email n'est pas valide</p>

							<p class="alert alert-warning" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">Le mot de passe doit faire entre 5 et 30 caractères.</p>

							<p class="alert alert-danger" ng-show="registerForm.repassword.$dirty && registerForm.repassword.$error.pwmatch">Les mots de passe entrés sont différents</p>

							<div class="form-group" ng-class="{'has-error has-feedback': registerForm.email.$dirty && registerForm.email.$invalid}">
								<input placeholder="Email" class="form-control" type="email" name="email" value="{{ email }}" ng-model="account.email" ng-model-options="{ updateOn: 'blur' }" ng-disabled="registering" required>
								<span ng-show="registerForm.email.$dirty && registerForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-nolabel"></span>
							</div>

							<div class="form-group" ng-class="{'has-warning has-feedback': registerForm.password.$dirty && registerForm.password.$invalid}">
								<input id="password" class="form-control" placeholder="Mot de passe" type="password" name="password" ng-minlength="5" ng-maxlength="30" ng-model="account.password" ng-model-options="{ updateOn: 'blur' }" ng-disabled="registering" required>

								<span ng-show="registerForm.password.$dirty && registerForm.password.$invalid" class="glyphicon glyphicon-warning-sign form-control-feedback form-control-feedback-nolabel"></span>
							</div>

							<div class="form-group" ng-class="{'has-error has-feedback': registerForm.repassword.$dirty && registerForm.repassword.$invalid}">
								<input class="form-control" pw-check="password" maxlength="30" placeholder="Re-entrer le mot de passe" type="password" name="repassword" ng-model="account.repassword" ng-model-options="{ updateOn: 'blur' }" ng-disabled="registering" required>
								<span ng-show="registerForm.repassword.$dirty && registerForm.repassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-nolabel"></span>
							</div>

							<hr/>

							<p class="alert alert-warning" ng-show="registerForm.code.$dirty && registerForm.code.$invalid">Un code est requis</p>
							<p class="alert alert-danger" ng-show="registerForm.code.$dirty && registerForm.code.codeInvalid">Un code valide est requis</p>

							<div class="form-group" ng-class="{'has-warning has-feedback': registerForm.code.$dirty && registerForm.code.$invalid}">
								<label for="code">Code d'invitation</label>
								<input class="form-control" placeholder="Code invitation" type="text" value="" name="code" ng-model="account.code" ng-model-options="{ updateOn: 'blur' }" ng-disabled="registering" required>
								<span ng-show="registerForm.code.$dirty && registerForm.code.$invalid" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
							</div>

							<input type="submit" class="form-control btn btn-primary btn-block" value="Inscription" ng-disabled="registerForm.$invalid || registering">

							<p class="text-center other-links">
								<a href="{{ Zelda_auth() }}">Déjà inscrit ... me connecter !</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
