<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie9" lang="fr"><![endif]-->
<!--[if !IE]><!--><html lang="fr"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=980">

		<title>
			{% block title %}Virtualorganizer{% endblock %}
		</title>

		{% if metadatas.description %}
			<meta name="description" content="{{ metadatas.description|clearSpace|trim|truncate(170)|e }}" />
		{% endif %}

		{% if metadatas.canonicalUrl %}
			<link rel="canonical" href="{{ metadatas.canonicalUrl }}"/>
		{% endif %}

		{#
		<link rel="apple-touch-icon" href="/img/favicon/57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/114.png">
		<link rel="publisher" href="https://plus.google.com/+senscritique">
		#}

		{# Microsoft meta for Windows 8 #}
		{#
		{% if global.browser.browser|pregMatch('/MSIE/') %}
			<meta name="application-name" content="{{ todo }}"/>
			<meta name="msapplication-TileColor" content="#ffffff"/>
			<meta name="msapplication-TileImage" content="{{ global.environment.assets.domain }}/img/favicon/windows-8.png"/>
		{% endif %}
		#}

		{% block meta %}{% endblock %}

		{# Include bootstrap 3.1.1 css from CDN #}
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		{% block css %}
			{{ Optimize_styles() }}
		{% endblock %}

		<!--[if lt IE 9]>
			<script>
				document.createElement('header');
				document.createElement('section');
				document.createElement('article');
				document.createElement('aside');
				document.createElement('nav');
				document.createElement('footer');
				document.createElement('figure');
				document.createElement('figcaption');
				document.createElement('hgroup');
				document.createElement('time');
				document.createElement('canvas');
			</script>
		<![endif]-->

	</head>
	<body>
		{# PAGE #}
		{% block body %}{% endblock %}

		{# SCRIPTS #}
		<script>
			try {
				console
			} catch(e) {
				console = {};
				console.log = function(){};
			}
		</script>

		{% block js %}
			{# jQuery 2.0.0 #}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="{{ global.environment.assets.domain }}/lib/plugins/jquery.js"><\/script>')</script>

			{# Bootstrap 3.1.1 #}
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

			{# Angular JS #}
			{% if global.inProduction %}
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular.min.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-sanitize.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-route.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-resource.js"></script>
			{% else %}
				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-sanitize.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-route.js"></script>
				<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.9/angular-resource.js"></script>
			{% endif %}

			{# Angular Strap #}
			<script type="text/javascript" src="{{ global.environment.assets.domain }}/lib/libs/angular-strap-2.0.2/dist/angular-strap.min.js"></script>
			<script type="text/javascript" src="{{ global.environment.assets.domain }}/lib/libs/angular-strap-2.0.2/dist/angular-strap.tpl.min.js"></script>

			{# Moment JS #}
			<script type="text/javascript" src="{{ global.environment.assets.domain }}/lib/libs/moment-with-langs.min.js"></script>

			{{ Optimize_scripts() }}
		{% endblock %}
	</body>
</html>
