<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>{% block subject %}{% endblock %}</title>
		{# <style type="text/css">
			#outlook a{padding:0;}
			/*body{width:100% !important;}*/ .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
			img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
		</style> #}
	</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="{{ Mail_css('body') }}">
		<img src="{{ Zelda_mailOpen() }}" width="1" height="1" alt="Mail open"/>
		{% block body %}{% endblock %}
	</body>
</html>