Bienvenue dans la chain-mail "{{ email.topicData.subject }}" créé par {{ data.userTopicCreator.label }}.
Pour participer à la discussion, répondez simplement à cet email. Pensez à répondre aux questions associées à ce fil de discussion, si vous oubliez un agent vous le rappellera !
