<p>Bienvenue dans la chain-mail <strong>{{ email.topicData.subject }}</strong> créé par {{ data.userTopicCreator.label }}.<br/>Pour participer à la discussion, répondez simplement à cet email. Pensez à répondre aux questions associées à ce fil de discussion, si vous oubliez un agent vous le rappellera !</p>
