<br/>
{% if email.topicData %}
	<a href="{{ Zelda_topic(email.topicData.id, 'users') }}">{{ email.topicData.gen_count_users }} users in topic</a>
	&nbsp;|&nbsp;
	<a href="{{ Zelda_exitTopic(email.topicData.id, email.user_id) }}">Quit topic</a>
	&nbsp;|&nbsp;
	<a href="{{ Zelda_topic(email.topicData.id, 'users', 'add') }}">Add user</a>
	&nbsp;|&nbsp;
	<a href="{{ Zelda_topic(email.topicData.id) }}">View full topic</a>
{% endif %}