<center>
	<img src="{{ Zelda_agentShow(data.agentTopicId) }}" width="1" height="1" alt="Agent show"/>
	<table style="{{ Mail_css('widget baseFont') }}">
		<tr>
			<td width="60%" valign="top" style="{{ Mail_css('td baseFont center') }}">
				{{ data.question|e }}
			</td>
			{% set width = (40 / data.choices|length)|round(0, 'floor')  %}
			{% for value, text in data.choices %}
				{% set isSelected = data.selected and data.selected == value  %}
				<td valign="top" width="{{ width }}%" style="{{ Mail_css('td baseFont center') }}">
					<a href="{{ Zelda_agentAnswer(data.agentTopicId, email.user_id,value) }}">
						{{ text|e }}
					</a>
				</td>
			{% endfor %}
		</tr>
	</table>
</center>