** {{ data.question|e }}
{% if data.selected %}
	{% for value, text in data.choices %}
		{% if data.selected and data.selected == value  %}
			Your answer : text
		{% endif %}
	{% endfor %}
{% else %}
	{% for value, text in data.choices %}
		{% set isSelected = data.selected and data.selected == value  %}
		- {{ text|e }} => {{ Zelda_agentAnswer(data.agentTopicId, email.user_id,value) }}
	{% endfor %}
{% endif %}